.body {
  color: white;
  background: rgb(113, 109, 235);
  background: url("../assets/images/bird-3.png"),
    linear-gradient(339deg, rgba(113, 109, 235, 1) 0%, rgba(0, 0, 0, 1) 100%);

  background-repeat: no-repeat;
  background-position: 0 0, center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  font-family: "Caveat", cursive;
  font-weight: 400;
}

.header {
  @extend %container;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 60px;
    color: $red;
    text-shadow: 4px 4px 6px $white-shadow;
  }

  &__score {
    font-size: 35px;
  }
}

.categories {
  @extend %container;
  margin-bottom: 35px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    font-family: "Anybody", cursive;
    font-size: 20px;
  }

  &__item {
    flex-grow: 1;
    padding: 10px;
    width: 100%;
    max-width: 200px;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
    background-color: $transparent-red;

    &[data-active="true"] {
      background-color: $dark-red;
    }
  }
}

.quiz {
  @extend %container;
  &__thumb {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
    padding: 20px;
    background-color: $transparent-red;
    border-radius: 10px;
  }

  &__img-thumb {
    padding: 5px;
    background-color: $dark-red;
    border-radius: 10px;
    overflow: hidden;
  }

  &__question-thumb {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }
}

.answer {
  margin-top: 45px;
  @extend %container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 20px;

  &__options,
  &__description {
    min-height: 350px;
    font-family: Anybody, cursive;
    padding: 30px 15px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.308);
    background-color: $transparent-red;
  }
}
