.body {
  color: white;
  background: rgb(113, 109, 235);
  background: url("../assets/images/bird-3.png"),
    linear-gradient(339deg, rgba(113, 109, 235, 1) 0%, rgba(0, 0, 0, 1) 100%);

  background-repeat: no-repeat;
  background-position: 0 0, center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 35px;
  padding: 25px 0;
  font-family: "Caveat", cursive;
  font-weight: 400;

  @media screen and (max-width: 450px) {
    gap: 15px;
  }
}

.header {
  @extend %container;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 60px;
    color: $red;
    text-shadow: 4px 4px 6px $white-shadow;

    @media screen and (max-width: 450px) {
      font-size: 36px;
    }
  }

  &__score {
    font-size: 36px;
    @media screen and (max-width: 450px) {
      font-size: 24px;
    }
  }
}

.categories {
  @extend %container;
  margin-bottom: 35px;

  @media screen and (max-width: 450px) {
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    font-family: "Anybody", cursive;
    font-size: 20px;

    @media screen and (max-width: 900px) {
      font-size: 16px;
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 50% 50%;
    }
    @media screen and (max-width: 450px) {
      font-size: 14px;
    }
  }

  &__item {
    flex-grow: 1;
    padding: 10px;
    width: 100%;
    max-width: 200px;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
    background-color: $transparent-red;

    &[data-active="true"] {
      background-color: $dark-red;
    }

    @media screen and (max-width: 450px) {
      padding: 6px;
    }
  }
}

.quiz {
  @extend %container;

  &__thumb {
    height: 200px;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;

    background-color: $transparent-red;
    border-radius: 10px;

    @media screen and (max-width: 900px) {
      gap: 25px;
      padding: 20px 15px;
    }

    @media screen and (max-width: 450px) {
      flex-direction: column;
      height: 230px;
      gap: 10px;
      padding: 10px;
    }
  }

  &__img-thumb {
    overflow: hidden;
    height: 180px;
    width: 200px;
  }

  &__img {
    margin-top: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    border-radius: 10px;
  }

  &__question-thumb {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 15px;
  }

  &__question-name {
    align-self: center;
    font-size: 36px;

    @media screen and (max-width: 450px) {
      font-size: 22px;
    }
  }
}

.answer {
  margin-top: 45px;
  @extend %container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 20px;

  @media screen and (max-width: 900px) {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 450px) {
    margin-top: 15px;
  }
}

.next-level-btn {
  @extend %button;
  width: 100%;
  max-width: 280px;
  margin: 35px auto 0 auto;
}
