$white: #fff;
$white-shadow: rgba(255, 255, 255, 1);
$red: rgb(141, 46, 46);
$transparent-red: rgba(129, 48, 48, 0.449);
$dark-red: rgba(129, 48, 48, 0.779);
$coral: #ff7f50;

$dark-shadow: #0008;
$black: #000;
